.container {
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
}

.app {
  display: flex;
  gap: 10px;
}

.btn_form {
  padding: 5px;
  border-color: lightgreen;
  border-radius: 5px;
}
